.t-wrap {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: sans-serif;
    /* center wrapper on legacy browsers */
    width: 100%;
}

/* execute only on modern browsers */
@media all and (min-width: 0) {
    .t-wrap {
        /* resets */
        width: auto;
        
        /* allow clicking through on either side of the toasts */
        display: inline-block;

        /* center horizontally
         * also, use this to promote to a layer, so that it 
         * does not affect content underneath
         */
        left: 50%;
        transform: translate(-50%, 0);
        transform: translate3d(-50%, 0, 0);
        
        transform-style: preserve-3d;
    }
}

.t-wrap .t-toast {
    width: 15em;
    margin: .6em auto;
    padding: .5em .3em;
    border-radius: 2em;
    color: #eee;
    box-shadow: 0px 4px 0px -1px rgba(0,0,0,.2);
    
    /* use a layer for each toasts */
    /* this is more elegant than the translateZ hack */
    will-change: opacity, height, margin;
    
    /* add visual easing */
    -webkit-animation: t-enter 500ms ease-out; 
            animation: t-enter 500ms ease-out;
    
    /* keep animations from being jittery in firefox */
    transform-style: preserve-3d;
}

.t-toast.t-gray {
    background: #777;
    background: rgba(119, 119, 119, .9);
}
.t-toast.t-red {
    background: #D85955;
    background: rgba(216, 89, 85, .9);
}
.t-toast.t-blue {
    background: #4374AD;
    background: rgba(67, 116, 173, .9);
}
.t-toast.t-green {
    background: #75AD44;
    background: rgba(117, 173, 68, .9);
}
.t-toast.t-orange {
    background: #D89B55;
    background: rgba(216, 133, 73, .9);
}

.t-toast.t-exit {
    -webkit-animation: t-exit 500ms ease-in; 
            animation: t-exit 500ms ease-in;
}

@-webkit-keyframes t-enter {
    from { opacity: 0; max-height: 0em; }
    to { opacity: 1; max-height: 2em; }
} 
@keyframes t-enter {
    from { opacity: 0; max-height: 0em; }
    to { opacity: 1; max-height: 2em; }
}

@-webkit-keyframes t-exit {
    from { opacity: 1; max-height: 2em; }
    to { opacity: 0; max-height: 0em; }
} 
@keyframes t-exit {
    from { opacity: 1; max-height: 2em; }
    to { opacity: 0; max-height: 0em; }
}

@media screen and (max-width: 16em) {
    .t-wrap .t-toast {
        width: 90%;
    }
}
